<div class="mat-elevation-z8">
  <table mat-table [dataSource]="tableDataService.tableDataSource">

    <ng-container matColumnDef="{{col.DISPLAY}}" *ngFor="let col of tableDataService.columnsHeadersObj ">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{col.DISPLAY}} </th>
      <td mat-cell *matCellDef="let element" (mouseenter)=" rowHovered($event.target, 'enter')" (mouseleave)="rowHovered($event.target, 'leave')"
        class="pointer">
        <ng-container *ngTemplateOutlet="templateRef; context:{element:element, col:col, row:row}"></ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="tableDataService.columnsHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: tableDataService.columnsHeaders;" (click)="rowClicked(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]=" [5, 10, 20] " showFirstLastButtons></mat-paginator>
</div>