<div class="footer">
  <mat-list>
    <mat-divider></mat-divider>
    <mat-list-item class="footer-content">
      <div>
        Carlos Gonzalez &copy; 2018
      </div>
      <div class="phone-btn">
        <button mat-icon-button>
          <mat-icon  matTooltip="+1-407-219-8782">phone</mat-icon>
        </button>
      </div>
      <div class="linkedin-logo">
        <a href="https://www.linkedin.com/in/carlos-gonzalez-andrade-b6ab35a6/" target="_blank">
        <img src="../assets/Apps-Linkedin-icon.png" width="24px" height="24px">
        </a>
      </div>
    </mat-list-item>
  </mat-list>
</div>