.toolbar {
    display: flex;
    justify-content: row;
    background-color: #e74f55;
}

.toolbar-title {
    color: white;
    display: flex;
    flex: 1;
}
.toolbar-logout {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}
.main {
    margin: 2%;
}
